<!DOCTYPE html>
<html lang="{{ $.Lang | default "en" }}">
	<head>
		<meta charset="utf-8" />
		<meta name=viewport content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		{{ block "head" . }}{{ end }}
		{{- block "title" . -}}
			{{- if .Site.Title -}}
				<title>
					{{- if .Title -}}
						{{- if and .IsHome (eq .Site.Title .Title) -}}
							{{ .Title }}
						{{- else -}}
							{{ .Title }} | {{ .Site.Title }}
						{{- end -}}
					{{- else -}}
						{{- .Site.Title -}}
					{{- end -}}
				</title>
			{{- else if .Title -}}
				<title>{{ .Title }}</title>
			{{- end -}}
		{{- end }}
	</head>
	<body>
		<header>
			{{ block "header" .}}{{ end }}
		</header>
		<main>
			{{ block "main" . }}{{ end }}
		</main>
		<footer>
			{{ block "footer" . }}{{ end }}
		</footer>
	</body>
</html>
